{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="https://cdn.tailwindcss.com"> </script>
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
    <title>{% block title %}{% endblock %} | Tasks</title>
</head>
<body>
    <nav class="py-6 px-6 flex justify-between items-center border-b border-grey-200">
        <a href="" class="flex-xl font-semibold">Работа с заданиями</a>
        <div class="space-x-6">
            <a href="{% url 'users:sign_up' %}" class="px-6 py-3 text-lg font-semibold bg-teal-500 text-white rounded-xl hover: bg-teal-700">Sign Up</a>
            <a href="{% url 'users:sign_in' %}" class="px-6 py-3 text-lg font-semibold bg-teal-500 text-white rounded-xl hover: bg-teal-700">Sign In</a>
        </div>
    </nav>
      <div id="page">
          {% include 'core/sidebar.html' %}
      <div id="content">
          {% block content %}

          {% endblock %}
      </div>
  </div>


    <footer class="py-6 px-6 flex justify-between bg-gray-800">
        <div class="w-5/6 pr-10">
            <h3 class="mb-5 font-semibold text-gray-500">About</h3>
            <p class="text-lg text-gray-500">Все права защищены</p>
        </div>

    </footer>
</body>
</html>