{% extends 'core/index.html' %}

{% block title %}
     {{ task.name }}
{% endblock %}
{% block content %}
    <div class="mt-6 px-6 py-12 bg-gray-100 rounded-xl">
        <h2 class="mb-12 text-2xl text-center">{{ task.name }}</h2>
        <div class="grid grid-cols-1 gap-3">
            <div class="p-6 bg-white rounded-b-xl">
                <h2 class="text-2-xl">Description: {{ task.description }}</h2>
                <p class="text-gray-500">User: {{ task.users }}</p>
                <p class="text-gray-500">Status: {{ task.status }}</p>
                <p class="text-gray-500">Date creation: {{ task.date_creation }}</p>
                <p class="text-gray-500">Date completion: {{ task.date_completion }}</p>
            </div>
        </div>
    </div>
{% endblock %}
